# Git
.git
.gitignore

# Dependencies
node_modules

# Build output
.next
out

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Documentation
*.md
LICENSE

# Docker
Dockerfile
.dockerignore

# Misc
*.log
.DS_Store
Thumbs.db
tsconfig.tsbuildinfo
eslint.config.mjs
